In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\Qwon\Desktop\Dev\linkedin_projects\remitances\clsep.csv")

In [7]:
df.head(20)

,Region/Country,Jan_20,Feb_20,Mar_20,Apr_20,May_20,Jun_20,Jul_20,Aug_20,Sep_20,...,Dec_23,Jan_24,Feb_24,Mar_24,Apr_24,May_24,Jun_24,Jul_24,Aug_24,Sep_24
0,U.S.A,116995.24,105295.76,118274.29853,118681.16,139986.39,142623.41,135880.90,155515.70,155714.0094,...,215008.150806,221007.429891,207165.648335,216327.542901,195971.561805,214592.137244,196119.840000,216602.950928,237719.281174,231710.097297
1,Canada,3393.74,2893.70,2663.70411,3287.35,4242.15,4049.55,4823.25,3700.75,8444.3400,...,6379.144866,6108.911297,7137.082999,9244.112033,17452.876993,10381.467947,10355.102039,10119.840874,11302.312962,10893.769084
2,Bahamas,539.73,421.88,424.68000,0.00,36.89,56.20,75.96,4.22,8.7200,...,56.540344,53.166032,218.266081,35.882956,86.159611,33.249462,259.602103,87.982868,83.414864,55.765305
3,United Kingdom,21190.00,17567.83,18778.69654,16191.04,18911.83,19120.09,22901.20,20640.05,16412.6800,...,27083.928693,49023.285454,31274.594367,32099.306440,18902.309077,27586.990877,24557.875410,30209.461107,27047.849975,29875.453114
4,Germany,6963.54,6156.28,6774.23513,6246.75,6960.64,7308.30,7579.67,7210.99,6607.1800,...,14095.526544,14925.920671,13537.442146,14976.232896,31898.206999,13938.456529,13830.030328,15955.460131,15779.506155,15072.801816
5,Switzerland,4291.64,2715.86,4404.40400,2218.32,4305.01,3984.58,3668.62,3943.09,3250.0800,...,3988.349648,3156.750102,2964.910851,4374.471570,5828.569495,5753.313116,3490.906788,4351.451625,4860.369979,3965.515053
6,Netherlands,1828.68,1745.86,1578.38275,2299.93,1386.81,1321.95,2101.62,1481.81,1705.9400,...,2182.310077,2141.591727,4614.907124,2101.522682,1651.615602,2254.062786,2116.076836,2701.364753,2460.686686,2604.649939
7,Italy,2138.26,1700.16,1732.41607,1727.25,2144.39,2690.81,2184.98,3196.78,2279.2000,...,2062.982952,2544.532585,2645.805560,2961.921924,2006.729693,2599.691739,2647.340997,2928.364772,2884.820954,2920.320676
8,Sweden,1880.54,1626.49,1680.62000,1318.53,1371.77,1206.90,886.06,1208.62,1431.7000,...,2257.920813,2438.989272,2083.827172,1905.961842,2259.278976,1635.131750,1583.498680,1912.092174,1149.503240,843.626170
9,France,2130.32,1516.35,1361.31847,1431.75,1458.18,1468.71,1442.16,1739.46,2117.9900,...,1647.455235,1572.328815,1604.957842,1899.984144,1425.815477,3085.459740,2209.006777,2233.435925,1929.895646,2033.619258
10,Norway,1288.54,1046.91,944.68000,2441.04,1132.34,1147.85,1263.67,1367.71,1389.2500,...,1650.663370,1596.378855,1663.880738,1702.046259,1533.546229,1518.728146,1712.192377,1737.258080,1703.347485,1642.177248
11,Belgium,751.02,606.74,919.13490,1016.85,390.18,485.17,620.05,815.18,999.6400,...,1390.795033,1287.477595,1093.071216,1150.871894,1855.456012,2160.448155,1912.551677,2176.922273,1901.141569,3155.873471
12,Austria,668.80,567.77,484.43000,504.23,625.87,547.30,699.57,612.69,683.2000,...,752.331282,1031.191533,972.394008,1016.151369,768.633551,980.962916,1028.544473,1087.543943,1096.264095,938.815973
13,Saudia Arabia,9066.13,6972.92,8033.12800,7481.21,12049.35,11599.27,11627.35,10432.04,11054.5300,...,31963.598095,32034.558958,30727.060807,38595.403898,36223.255293,35468.087649,29178.151673,37388.979790,32727.643897,30011.255432
14,Qatar,4585.60,3946.36,5462.67929,7581.46,9734.23,9737.69,9934.60,7526.04,7306.0500,...,3049.443398,3819.620598,5643.305375,6734.538784,6347.625360,6012.976281,7541.148554,6626.681157,4982.054092,5041.033724
15,United Arab Emirates,5870.36,7628.90,6660.60600,5480.88,3981.04,7297.67,6066.99,6071.24,7449.2200,...,6819.332035,9332.319291,10011.549488,9163.544472,7517.238839,12119.756364,14788.354987,11893.152756,13790.501768,12850.541595
16,Bahrain,742.04,907.12,1192.24700,800.65,1154.59,1106.82,1186.52,1262.86,969.7100,...,307.515131,486.061531,897.233327,572.831111,364.990160,184.085749,904.164998,294.923128,378.487396,265.854054
17,India,3374.82,1118.85,918.05500,1583.89,914.22,1417.74,1028.86,980.52,1765.5100,...,2292.177250,2795.487544,1013.262274,1021.022948,1580.996557,1267.607545,2593.010763,2454.884116,1549.909790,1093.169054
18,Oman,845.60,461.28,367.61580,565.55,755.10,623.26,658.55,541.39,413.1700,...,255.593270,311.760265,349.971624,597.549002,649.978206,585.396470,601.783823,539.112474,536.086767,592.470624
19,Japan,545.35,487.02,513.57000,443.01,387.31,579.79,545.70,549.15,567.0500,...,750.078255,748.917161,575.796415,618.046241,735.446257,343.973156,393.842393,432.878442,328.699289,355.279766

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region/Country  33 non-null     object
 1   Jan_20          33 non-null     float64
 2   Feb_20          33 non-null     float64
 3   Mar_20          33 non-null     float64
 4   Apr_20          33 non-null     float64
 5   May_20          33 non-null     float64
 6   Jun_20          33 non-null     float64
 7   Jul_20          33 non-null     float64
 8   Aug_20          33 non-null     float64
 9   Sep_20          33 non-null     float64
 10  Oct_20          33 non-null     float64
 11  Nov_20          33 non-null     float64
 12  Dec_20          33 non-null     float64
 13  Jan_21          33 non-null     float64
 14  Feb_21          33 non-null     float64
 15  Mar_21          33 non-null     float64
 16  Apr_21          33 non-null     float64
 17  May_21          33 non-null     float64
 18  Jun_21          33 non-null     float64
 19  Jul_21          33 non-null     float64
 20  Aug_21          33 non-null     float64
 21  Sep_21          33 non-null     float64
 22  Oct_21          33 non-null     float64
 23  Nov_21          33 non-null     float64
 24  Dec_21          33 non-null     float64
 25  Jan_22          33 non-null     float64
 26  Feb_22          33 non-null     float64
 27  Mar_22          33 non-null     float64
 28  Apr_22          33 non-null     float64
 29  May_22          33 non-null     float64
 30  Jun_22          33 non-null     float64
 31  Jul_22          33 non-null     float64
 32  Aug_22          33 non-null     float64
 33  Sep_22          33 non-null     float64
 34  Oct_22          33 non-null     float64
 35  Nov_22          33 non-null     float64
 36  Dec_22          33 non-null     float64
 37  Jan_23          33 non-null     float64
 38  Feb_23          33 non-null     float64
 39  Mar_23          33 non-null     float64
 40  Apr_23          33 non-null     float64
 41  May_23          33 non-null     float64
 42  Jun_23          33 non-null     float64
 43  Jul_23          33 non-null     float64
 44  Aug_23          33 non-null     float64
 45  Sep_23          33 non-null     float64
 46  Oct_23          33 non-null     float64
 47  Nov_23          33 non-null     float64
 48  Dec_23          33 non-null     float64
 49  Jan_24          33 non-null     float64
 50  Feb_24          33 non-null     float64
 51  Mar_24          33 non-null     float64
 52  Apr_24          33 non-null     float64
 53  May_24          33 non-null     float64
 54  Jun_24          33 non-null     float64
 55  Jul_24          33 non-null     float64
 56  Aug_24          33 non-null     float64
 57  Sep_24          33 non-null     float64
dtypes: float64(57), object(1)
memory usage: 15.1+ KB